.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section {
    background-color: #ffff;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1px;
}

.info-section h2 {
    color: #070707;
    font-size: 24px;
    margin-bottom: 5px;
}

.info-section div {
    color: #0d0d0e;
    font-size: 16px;
    margin-bottom: 5px;
}

.info-section img {
    max-width: 100%;
    margin-bottom: 20px;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
}

.info-section ul li {
    color: #020211;
    font-size: 16px;
    margin-bottom: 5px;
}       

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
