body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el header */
  header {
    background-color: rgb(78, 179, 78);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
  }
  
  #logo {
    width: 100px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  #menu-icon {
    display: none;
  }
  
  
  
  /* Estilos para el contenido */
.content {
    background-image: url(../img/imgfondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(8, 8, 8);
    text-align: center;
    opacity: 1;
    background-blend-mode: darken; /*Sirve para que la letra no se pierda con el fondo de la imagen*/
  }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section {
    background-color: #ffff;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1px;
}

.info-section h2 {
    color: #070707;
    font-size: 24px;
    margin-bottom: 5px;
}

.info-section div {
    color: #0d0d0e;
    font-size: 16px;
    margin-bottom: 5px;
}

.info-section img {
    max-width: 100%;
    margin-bottom: 20px;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
}

.info-section ul li {
    color: #020211;
    font-size: 16px;
    margin-bottom: 5px;
}       

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
