.button-el {
  display: inline-block;
  background-color: #e64919;
  align-items:center;
  text-align:center;
  text-decoration: none;
  width:400px;
  height:400px;
  padding:20px;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 150px;
  margin-top: 150px;
  font-weight: bold;
  color:#ffffff;
  font-size: 35px;
}

.button-en{
background-color: #e4d33e;
display: inline-block;
align-items:center;
  text-align:center;
  text-decoration: none;
  width:400px;
  height:400px;
  padding:20px;
  box-sizing: border-box;
  cursor: pointer;
  border:2px solid #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  margin-left:150px;
  font-weight: bold;
  color:#ffffff;
  font-size: 35px;
}

.button-jm{
background-color: #2213eb;
display: inline-block;
align-items:center;
  text-align:center;
  text-decoration: none;
  width:400px;
  height:400px;
  padding:20px;
  box-sizing: border-box;
  cursor: pointer;
  border:2px solid #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 150px;
  font-weight: bold;
  color:#ffffff;
  font-size: 35px;
}