/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(../img/imgfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
  
  /* Estilos para el header */
  header {
    background-color: rgb(78, 179, 78);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
  }
  
  #logo {
    width: 100px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  #menu-icon {
    display: none;
  }
  /* Estilos para el contenido */
  .content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    opacity: 1;
    background-blend-mode: darken; /*Sirve para que la letra no se pierda con el fondo de la imagen*/
  }
  
  html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }


  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 40px;
  }

  
  .start-button {
    background-color: rgb(211, 30, 7);
    color: rgb(2, 2, 2);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  .start-button:hover {
    background-color: #09991d;
    color: rgb(2, 2, 2);
    text-decoration: none;
  }
  
  